.container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  max-width: 20rem;
  margin: 0 auto;
}

.toggle {
  min-width: 1.825rem;
  border-color: var(--accent);
  color: var(--primary-dark);
  background-color: var(--accent);
}

.toggle:hover {
  color: var(--primary-medium);
}
