.table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.table th,
.table td {
  padding: 0.5rem;
  border: 1px var(--primary-bright) solid;
  color: var(--white);
  text-align: center;
}

.car {
  line-height: 0;
}
